* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #141e30, #243b55);

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 550px;
}

.card {
    background: white;
    padding: 35px;
    border-radius: 20px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

/* Password Box */

.password-box {
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}

.password-box input {
    flex: 1;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 10px;

    font-size: 16px;
}

.password-box button {
    border: none;

    padding: 0 15px;

    border-radius: 10px;

    cursor: pointer;

    background: #eee;

    font-size: 18px;
}

.password-box button:hover {
    background: #ddd;
}

/* Strength */

.strength-section {
    margin-bottom: 25px;
}

.strength-text {
    margin-bottom: 8px;

    font-weight: bold;
}

#strength {
    font-weight: bold;
}

.strength-bar {
    height: 10px;

    background: #ddd;

    border-radius: 10px;

    overflow: hidden;
}

#strengthBar {
    height: 100%;

    width: 0%;

    transition: 0.3s;
}

/* Length */

.option {
    margin-bottom: 25px;
}

.label-row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

/* Options */

.options {
    display: flex;
    flex-direction: column;

    gap: 15px;

    margin-bottom: 25px;
}

.options label {
    display: flex;
    align-items: center;

    gap: 10px;

    cursor: pointer;
}

.options input {
    width: 18px;
    height: 18px;
}

/* Generate Button */

.generate-btn {
    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #243b55;

    color: white;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;
}

.generate-btn:hover {
    background: #141e30;
}

#message {
    text-align: center;

    margin-top: 15px;

    font-weight: bold;
}

/* Mobile */

@media (max-width: 500px) {

    .card {
        padding: 25px;
    }

    h1 {
        font-size: 26px;
    }

    .password-box input {
        min-width: 0;
    }

}